body{
  margin:0;
  font-family: sans-serif;
}
.text-align-right{
  text-align: right;
}
#design_preview{
  position:relative;
  display:inline-block;
  margin:4px 0 0 4px;
  border:2px solid #ccc;
}
#design_image{
  position:absolute;
  border: none;
  top:0;left:0;
  z-index: 2;
  opacity: 1;
  overflow-x:hidden;
}
#design_image::after{
  content:'';
  position:absolute;
  right:0;top:0;
  width:1px;
  height:100%;
  background:hsla(0, 0%, 20%, .6);
}
#design_image>img{
  display:inline-block;
  margin:0;padding:0;
}
iframe{
  position: absolute;
  border:0;
  top:0;left:0;
  width:0;height:0;
  z-index: 1;
}
#upload_img_form{
  position:fixed;
  background:#f0f0f0;
  padding:20px 40px;
  top:50%;left:50%;
  transform:translate(-50%, -50%);
  opacity: 1;
  transition: .4s ease-in;
  border-radius:8px;
  box-shadow: 0 2px 8px rgba(0,0,0,.35);
  z-index:3;
}
#upload_img_form.hidden{
  transform: translate(-50%, -100vh) scale(1.1);
  opacity: .4;
  transition: .4s ease-in;
}
#upload_img_form button{
  font-family: sans-serif;
  font-size:16px;
  padding:10px 20px;
  border:none;
  background:#09f;
  color:#fff;
  border-radius:4px;
  line-height:1;
  margin:10px 0;
  opacity:1;
  transform:scale(1);
  transition:.4s;
}
#upload_img_form button.cancel{
  background:#889;
}
#upload_img_form button:active{
  opacity: .8;
  transform:scale(.97);
  transition: 0s;
}
#upload_img_form input[type="file"]{
  font-family: sans-serif;
  font-weight:600;
  border:2px solid rgba(0,0,0,.1);
  margin:10px 0;
  padding:20px 6px;
  border-radius:8px;
  color:#09f;
  background:rgba(0,0,0,.05);
  font-size:15px;
}
#select_img{
  position: fixed;
  font-size:30px;
  font-weight:600;
  bottom:8px;
  right:8px;
  padding:8px 15px;
  border:none;
  background:#09f;
  color:#fff;
  z-index:3;
  border-radius:8px;
  opacity:.5;
  transform:scale(1);
  transition:.4s;
  user-select: none;
  -webkit-user-select: none;
  box-shadow: 0 2px 8px rgba(0,0,0,.35);
}
#select_img.hidden{
  opacity:.1;
  transform: translateY(150%) scale(.8);
}
#select_img:active{
  opacity:.3;
  transform:scale(.99);
  transition:0s;
}
#upload_img_form input[type="text"]{
  font-family: sans-serif;
  padding-top:10px;
  padding-bottom:10px;
  width:100%;
  border:2px solid rgba(0,0,0,.2);
  border-radius: 4px;
}
[type="range"]#design_image_width{
  display: block;
  position: relative;
  z-index:3;
  padding:0;
  margin:0;
  left:0;
  top:0;
  opacity:0;
}
